$primary-color: #141414;
$footer-blue: #02385c;
$accent-color: #9B0000;
$bg-main: #C8CED2;
$bg-secondary: #E5E4E4;
$text-grey: #C4C4C4;

$blockquote-border-color: $primary-color;
$blockquote-border-width: 5px;
$blockquote-font-size: 15px;