$cloud-with-chris-blue: #6BBBF4;
$footer-blue: #02385c;
$accent-color: #C34A27;
$main-blue: #d5d5d5;

$blockquote-border-color: $cloud-with-chris-blue;
$blockquote-border-width: 5px;
$blockquote-font-size: 15px;